<!DOCTYPE html>
<html lang ="en-IE">
<title></title>
<head>
    <meta charset ="utf-8">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="shortcut icon" href="images/favicon.ico">
    <title>Phone Usage Tracker</title>
</head>
<body>

<header>
<!-- Navigation menu -->
<nav>
          <a href="/currency/forex">Forex</a>
          <a href="/currency">Conversion Rates</a>
		  <a href="/currency/contactUs">About Us</a>
</nav>
</header>

<main>
	<h1>Currency Conversion Rates</h1>
	<p>Insert timer since last currency update</p>
  </body>
</main>
</body>
